h1,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1140px) {
  .asn-col-lg {
    width: 1120px;
    margin: 15px auto;
  }
}

.asn-text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.asn-status-icon {
  font-size: 12px;
  color: #777;
}
