@import "common";
@import "markdown.css";

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;

  .el-header {
    border-bottom: .3px #E2E2E2 solid;
  }

  .el-main {
    padding: 0;
  }

}

//==============导航栏==========
.asn-nav {
  margin: auto;
  display: flex;
  justify-content: space-between;

  .asn-nav-logo {
    img {
      height: 54px;
    }
  }

  .asn-nav-search {
    input {
      border-radius: 20px;
    }

    .el-input__icon {
      cursor: pointer;
    }
  }
}

//==============首页==========
.asn-home {
  margin: 10px auto;

  .asn-app-list {
    padding-bottom: 5px;
    // cursor: pointer;
    a {
      text-decoration: none;
      display: block;
      color: #333;
    }

    .asn-app-list_icon {
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        border-radius: 18px;
        margin-bottom: 10px;
      }
    }

    .asn-app-list_status {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: #909399;
    }

    .asn-app-name {
      margin-top: 20px;
      height: 40px;
      line-height: 20px;
      font-size: 14px;
      -webkit-line-clamp: 2;
    }

    .asn-app-desc {
      height: 44px;
      line-height: 20px;
      margin: 5px auto 10px;
      font-size: 12px;
      color: #777;
      -webkit-line-clamp: 2;
    }

    .asn-category {
      height: 18px;
      //text-align: left;
      display: inline-block;
      line-height: 18px;
      padding: 0 4px;
      font-size: 12px;
      color: #FFFFFF;
      background: #409EFF;
      border-radius: 3px;
      text-decoration: none;
    }

    @keyframes circle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    :hover {
      .asn-app-list_icon > img {
        animation: circle 3s infinite linear;
      }

      :not(img) {
        transform: none;
        color: #FFFFFF;
      }

      transform: translateY(-3px);
      background: #363F48;
    }
  }

}

//===========热门推荐==========
.asn-app-hot {
  font-size: 14px;
  text-align: center;
  padding: 0 15px;

  & > h3 {
    margin: 0 auto;
    border-top: 2px solid #409EFF;
    border-bottom: 1px dashed #e6e8eb;
    padding: .6rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .item {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;

    .item-icon {
      display: flex;
      flex-flow: column;

      a {
        text-decoration: none;
        font-size: 12px;
        color: #409EFF;
        line-height: 22px;
      }

      img {
        width: 70px;
        height: 70px;
      }
    }

    .item-info {
      margin-left: 5px;

      .item-info-desc {
        h3 {
          height: 22px;
          line-height: 22px;
          color: #333;
          font-weight: normal;
          font-size: 14px;
        }

        p {
          margin-top: 3px;
          height: 44px;
          line-height: 22px;
          -webkit-line-clamp: 2;
          font-size: 12px;
          color: #777;
        }
      }

      .item-info-status {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
      }
    }
  }
}

.asn-app-info {
  background: #F8F8F8;

  .head {
    position: relative;
    height: 420px;
    background: url('https://img.xclient.info/img/cat_img/media.jpg') no-repeat fixed;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #000;
      content: '';
      opacity: 0.6;
    }

    .info {
      position: relative;
      text-align: center;

      img {
        height: 128px;
        width: 128px;
        margin: 60px auto 40px;
      }

      h1 {
        text-align: center;
        color: #fff;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
      }

      ul {
        display: flex;
        justify-content: center;
        list-style: none;
        color: #FFFFFF;
        font-size: 12px;
        margin-top: 20px;

        li {
          margin-left: 10px;

          a {
            color: #FFFFFF;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .content {
    margin: 0 auto;
    padding: 20px 10px;
    overflow: hidden;

    .carousel {
      overflow: hidden;

      .el-carousel {
        background: #FFFFFF;
        padding: 20px;

        .el-carousel__item {
          img {
            height: 100%;
            width: 100%;
          }
        }

        .el-carousel__button {
          background: #4EAADE;
        }
      }
    }

    .status {
      background: #FFFFFF;
      overflow: hidden;
      padding: 20px 15px;
      height: 390px;
      text-align: center;

      .hot-name {
        font-size: 12px;
        color: #777;
        margin-top: 20px;
      }

      .hot-number {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 30px;
      }

      .download, .donate {
        text-decoration: none;
        display: block;
        padding: 12px 6px;
        background: #4EAADE;
        color: #FFFFFF;
        border-radius: 4px;
        font-weight: 600;
        margin-top: 15px;
      }

      .download {
        background: #4EAADE;
      }

      .donate {
        background: #FD7E81;
      }

      .info-title {
        font-weight: 700;
        margin-top: 30px;
      }

      .info {
        margin-top: 20px;

        p {
          font-size: .85rem;
          line-height: 26px;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          color: #777;
        }
      }
    }
    .content-desc {
      margin-top: 30px;
      .hot {
        background: #FFFFFF;
        padding: 40px 20px;
      }
    }
    .content-version {
      margin-top: 30px;
      background: #FFFFFF;
      text-align: center;
      padding: 20px 35px;
      p {
        padding: 10px;
        font-size: 1.2em;
        font-weight: 500;
      }
      table {
        width: 100%;
        background: #333;
        border-collapse: collapse;
        border-radius: 3px;

        th, td {
          border-bottom: 1px solid rgba(255,255,255, .1);
          text-align: left;
        }

        thead {
          color: #777;
          th {
            padding: 10px 10px;
          }
        }
        tbody {
          color: #FFFFFF;
          td {
            padding: 5px 10px;
          }
        }

        .down-cell {
          text-align: right;
        }
        .download {
          display: inline-block;
          width: 100px;
          height: 30px;
          background: #4eaade;
          color: #fff;
          text-align: center;
          text-decoration: none;
          line-height: 30px;
          margin-left: 5px;
          font-size: 14px;
        }
      }
    }
  }
}

// footer
.footer {
  padding: 30px 0;
  background: #06060b;
  color: #999;
  font-size: 13px;
  text-align: center;

  .notice {
    padding: 15px;
    .logo {
      img {
        height: 50px;
      }
    }
    p {
      //font-size: 12px;
      line-height: 20px;
    }
  }
}




