@import "common";

//===================================================================
body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .el-header {
    border-bottom: .3px #E2E2E2 solid;
  }

  .el-main {
    max-width: 1140px;
    margin: auto;
    padding: 10px 20px;
  }
}

.asn-nav {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  .asn-nav-logo {
    img {
      height: 54px;
    }
  }

  .asn-nav-search {
    input {
      border-radius: 20px;
    }

    .el-input__icon {
      cursor: pointer;
    }
  }
}

.asn-app-list {
  padding-bottom: 5px;

  .el-card__body > * {
    margin-bottom: 10px;
  }

  .asn-app-list_icon {
    width: 100px;
    height: 100px;
    border-radius: 18px;
  }

  .asn-app-list_status {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #909399;
  }

  p {
    height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &:last-child {
      height: 44px;
      margin-top: 5px;
      font-size: 12px;
      color: #777;
    }
  }

  @keyframes circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  :hover {
    .asn-app-list_icon {
      //transform: rotate(15deg);
      animation: circle 3s infinite linear;
    }

    :not(.asn-app-list_icon) {
      transform: none;
      color: #FFFFFF;
    }

    transform: translateY(-3px);
    background: #363F48;
  }
}

.asn-app-hot {
  font-size: 14px;
  text-align: center;
  padding: 0 15px;
  & > h3 {
    margin: 0 auto;
    border-top: 2px solid #409EFF;
    border-bottom: 1px dashed #e6e8eb;
    padding: .6rem;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .item {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    margin-top: 10px;
    .item-icon {
      display: flex;
      flex-flow: column;
      a {
        text-decoration: none;
        font-size: 12px;
      }
      img {
        width: 70px;
        height: 70px;
      }
    }
    .item-info {
      margin-left: 5px;
      .item-info-desc {
        h3 {
          margin: 0;
          height: 22px;
          line-height: 22px;
        }
        p {
          margin: 0;
          height: 44px;
          line-height: 22px;
          -webkit-line-clamp: 2;
          font-size: 12px;
          color: #777;
        }
      }
      .item-info-status {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
      }
    }
  }
}




