#app {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.asn-pagination {
  text-align: center;
  margin-top: 15px;
}

.asn-body {
  & > .asn-header {
    .el-menu--horizontal {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      img {
        height: 54px;
      }
      // & > li:first-of-type {
      //   margin-right: auto;
      // }
      // & > li:last-of-type {
      //   margin-left: auto;
      // }
      // & > li:not(:first-of-type):not(:last-of-type) {
      //   flex: 1;
      //   text-align: center;
      // }
    }
  }
  & > .asn-content {
    & > .asn-apps {
      > .asn-apps-list {
        background: #ffffff;
        height: 500px;
        > .el-table {
          margin-top: 10px;
        }
      }
    }
    > .asn-app-item {
      color: #858585;
      > .info {
        display: flex;
        align-items: center;
        img {
          width: 100px;
          height: 100px;
        }
        > .info-desc {
          margin-left: 5rem;
          > .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
              font-size: 1.5rem;
              font-weight: 400;
            }
            .el-button {
              height: 30px;
              margin-left: 2em;
            }
          }

          > p {
            > span {
              padding-right: 1.5em;
              i {
                font-style: normal;
                font-size: 0.9em;
              }
            }
            > .tags > .el-tag {
              margin-right: 0.6em;
            }
          }
          blockquote {
            border-left: 4px solid #42b983;
            margin: 2em 0;
            padding-left: 20px;
            font-size: 0.9em;
          }
        }
      }
      .version-dialog {
        .el-input {
          width: auto;
        }
        i {
          margin-left: 1em;
          margin-right: 0.7em;
        }
        .version-secret-input {
          margin-right: 1em;
        }
      }
    }
  }
}
